{{#each affirmations as |affirmation|}}
  {{log affirmation}}
  <section class="text-center" data-id="{{affirmation._id}}">
   <div>Affirmaiton:</div>{{affirmation.thought}}
   <div>Context:</div>{{affirmation.context}}
   <div>creator:</div>{{affirmation.creator}}
   <div>id:</div>{{affirmation._id}}
  </section>
<button data-id="{{affirmation._id}}" class="remove-affirmation btn btn-outline-light mr-2" id="realeaseAffirmation">Let go</button>

{{/each}}
