{{#each affirmations as |affirmation|}}
  {{log affirmation}}
  <section class="text-center" data-id="{{affirmation._id}}">
    <br>
   <div><h3>{{affirmation.thought}}</h3></div>
   <div><h5>Context:{{affirmation.context}}</h5></div>
   <div>Creator:{{affirmation.creator}}</div>
   <div><h7>id:{{affirmation._id}}</h7></div>
  </section>
  <br>
<button data-id="{{affirmation._id}}" class="remove-affirmation btn btn-outline-light .btn-sm " id="realeaseAffirmation">Release</button>

{{/each}}
